BEGIN;
--
-- Remove field cancha from horario
--
SET CONSTRAINTS "core_horario_cancha_id_818d21a0_fk_core_cancha_id" IMMEDIATE; ALTER TABLE "core_horario" DROP CONSTRAINT "core_horario_cancha_id_818d21a0_fk_core_cancha_id";
ALTER TABLE "core_horario" DROP COLUMN "cancha_id" CASCADE;
--
-- Remove field reserva from pago
--
SET CONSTRAINTS "core_pago_reserva_id_0c18b655_fk_core_reserva_id" IMMEDIATE; ALTER TABLE "core_pago" DROP CONSTRAINT "core_pago_reserva_id_0c18b655_fk_core_reserva_id";
ALTER TABLE "core_pago" DROP COLUMN "reserva_id" CASCADE;
--
-- Change Meta options on cancha
--
-- (no-op)
--
-- Change Meta options on recinto
--
-- (no-op)
--
-- Change Meta options on reserva
--
-- (no-op)
--
-- Remove field fecha from reserva
--
ALTER TABLE "core_reserva" DROP COLUMN "fecha" CASCADE;
--
-- Remove field hora_fin from reserva
--
ALTER TABLE "core_reserva" DROP COLUMN "hora_fin" CASCADE;
--
-- Remove field hora_inicio from reserva
--
ALTER TABLE "core_reserva" DROP COLUMN "hora_inicio" CASCADE;
--
-- Add field actualizado_en to cancha
--
ALTER TABLE "core_cancha" ADD COLUMN "actualizado_en" timestamp with time zone DEFAULT '2025-10-13T15:21:39.999705+00:00'::timestamptz NOT NULL;
ALTER TABLE "core_cancha" ALTER COLUMN "actualizado_en" DROP DEFAULT;
--
-- Add field creado_en to cancha
--
ALTER TABLE "core_cancha" ADD COLUMN "creado_en" timestamp with time zone DEFAULT '2025-10-13T15:21:40.001783+00:00'::timestamptz NOT NULL;
ALTER TABLE "core_cancha" ALTER COLUMN "creado_en" DROP DEFAULT;
--
-- Add field descripcion to cancha
--
ALTER TABLE "core_cancha" ADD COLUMN "descripcion" text DEFAULT '' NOT NULL;
ALTER TABLE "core_cancha" ALTER COLUMN "descripcion" DROP DEFAULT;
--
-- Add field duracion_tramo_min to cancha
--
ALTER TABLE "core_cancha" ADD COLUMN "duracion_tramo_min" integer DEFAULT 60 NOT NULL CHECK ("duracion_tramo_min" >= 0);
ALTER TABLE "core_cancha" ALTER COLUMN "duracion_tramo_min" DROP DEFAULT;
--
-- Add field tipo_superficie to cancha
--
ALTER TABLE "core_cancha" ADD COLUMN "tipo_superficie" varchar(60) DEFAULT '' NOT NULL;
ALTER TABLE "core_cancha" ALTER COLUMN "tipo_superficie" DROP DEFAULT;
--
-- Add field activo to recinto
--
ALTER TABLE "core_recinto" ADD COLUMN "activo" boolean DEFAULT true NOT NULL;
ALTER TABLE "core_recinto" ALTER COLUMN "activo" DROP DEFAULT;
--
-- Add field actualizado_en to recinto
--
ALTER TABLE "core_recinto" ADD COLUMN "actualizado_en" timestamp with time zone DEFAULT '2025-10-13T15:21:40.009046+00:00'::timestamptz NOT NULL;
ALTER TABLE "core_recinto" ALTER COLUMN "actualizado_en" DROP DEFAULT;
--
-- Add field comuna to recinto
--
ALTER TABLE "core_recinto" ADD COLUMN "comuna" varchar(120) DEFAULT '' NOT NULL;
ALTER TABLE "core_recinto" ALTER COLUMN "comuna" DROP DEFAULT;
--
-- Add field creado_en to recinto
--
ALTER TABLE "core_recinto" ADD COLUMN "creado_en" timestamp with time zone DEFAULT '2025-10-13T15:21:40.011329+00:00'::timestamptz NOT NULL;
ALTER TABLE "core_recinto" ALTER COLUMN "creado_en" DROP DEFAULT;
--
-- Add field email to recinto
--
ALTER TABLE "core_recinto" ADD COLUMN "email" varchar(254) DEFAULT '' NOT NULL;
ALTER TABLE "core_recinto" ALTER COLUMN "email" DROP DEFAULT;
--
-- Add field hora_apertura to recinto
--
ALTER TABLE "core_recinto" ADD COLUMN "hora_apertura" time DEFAULT '08:00:00'::time NOT NULL;
ALTER TABLE "core_recinto" ALTER COLUMN "hora_apertura" DROP DEFAULT;
--
-- Add field hora_cierre to recinto
--
ALTER TABLE "core_recinto" ADD COLUMN "hora_cierre" time DEFAULT '23:00:00'::time NOT NULL;
ALTER TABLE "core_recinto" ALTER COLUMN "hora_cierre" DROP DEFAULT;
--
-- Add field url_maps to recinto
--
ALTER TABLE "core_recinto" ADD COLUMN "url_maps" varchar(200) DEFAULT '' NOT NULL;
ALTER TABLE "core_recinto" ALTER COLUMN "url_maps" DROP DEFAULT;
--
-- Add field actualizado_en to reserva
--
ALTER TABLE "core_reserva" ADD COLUMN "actualizado_en" timestamp with time zone DEFAULT '2025-10-13T15:21:40.020254+00:00'::timestamptz NOT NULL;
ALTER TABLE "core_reserva" ALTER COLUMN "actualizado_en" DROP DEFAULT;
--
-- Add field email_contacto to reserva
--
ALTER TABLE "core_reserva" ADD COLUMN "email_contacto" varchar(254) DEFAULT '' NOT NULL;
ALTER TABLE "core_reserva" ALTER COLUMN "email_contacto" DROP DEFAULT;
--
-- Add field fecha_hora_fin to reserva
--
ALTER TABLE "core_reserva" ADD COLUMN "fecha_hora_fin" timestamp with time zone DEFAULT '2025-09-18T04:28:19.118366+00:00'::timestamptz NOT NULL;
ALTER TABLE "core_reserva" ALTER COLUMN "fecha_hora_fin" DROP DEFAULT;
--
-- Add field fecha_hora_inicio to reserva
--
ALTER TABLE "core_reserva" ADD COLUMN "fecha_hora_inicio" timestamp with time zone DEFAULT '2025-09-18T03:31:15.952226+00:00'::timestamptz NOT NULL;
ALTER TABLE "core_reserva" ALTER COLUMN "fecha_hora_inicio" DROP DEFAULT;
--
-- Add field nombre_contacto to reserva
--
ALTER TABLE "core_reserva" ADD COLUMN "nombre_contacto" varchar(120) DEFAULT '' NOT NULL;
ALTER TABLE "core_reserva" ALTER COLUMN "nombre_contacto" DROP DEFAULT;
--
-- Add field precio_total to reserva
--
ALTER TABLE "core_reserva" ADD COLUMN "precio_total" numeric(10, 2) DEFAULT 0 NOT NULL;
ALTER TABLE "core_reserva" ALTER COLUMN "precio_total" DROP DEFAULT;
--
-- Add field telefono_contacto to reserva
--
ALTER TABLE "core_reserva" ADD COLUMN "telefono_contacto" varchar(30) DEFAULT '' NOT NULL;
ALTER TABLE "core_reserva" ALTER COLUMN "telefono_contacto" DROP DEFAULT;
--
-- Alter field deporte on cancha
--
ALTER TABLE "core_cancha" ALTER COLUMN "deporte" TYPE varchar(12);
--
-- Alter field nombre on cancha
--
ALTER TABLE "core_cancha" ALTER COLUMN "nombre" TYPE varchar(120);
--
-- Alter field precio_hora on cancha
--
ALTER TABLE "core_cancha" ALTER COLUMN "precio_hora" TYPE numeric(10, 2);
--
-- Alter field direccion on recinto
--
ALTER TABLE "core_recinto" ALTER COLUMN "direccion" TYPE varchar(255);
--
-- Alter field nombre on recinto
--
ALTER TABLE "core_recinto" ALTER COLUMN "nombre" TYPE varchar(120);
--
-- Alter field telefono on recinto
--
ALTER TABLE "core_recinto" ALTER COLUMN "telefono" TYPE varchar(30), ALTER COLUMN "telefono" SET DEFAULT '2025-09-18 03:31:37.766111+00:00';
UPDATE "core_recinto" SET "telefono" = '2025-09-18 03:31:37.766111+00:00' WHERE "telefono" IS NULL; SET CONSTRAINTS ALL IMMEDIATE;
ALTER TABLE "core_recinto" ALTER COLUMN "telefono" SET NOT NULL;
ALTER TABLE "core_recinto" ALTER COLUMN "telefono" DROP DEFAULT;
--
-- Alter field cancha on reserva
--
-- (no-op)
--
-- Alter field estado on reserva
--
ALTER TABLE "core_reserva" ALTER COLUMN "estado" TYPE varchar(12);
--
-- Alter field usuario on reserva
--
SET CONSTRAINTS "core_reserva_usuario_id_ad825496_fk_users_user_id" IMMEDIATE; ALTER TABLE "core_reserva" DROP CONSTRAINT "core_reserva_usuario_id_ad825496_fk_users_user_id";
ALTER TABLE "core_reserva" ALTER COLUMN "usuario_id" DROP NOT NULL;
ALTER TABLE "core_reserva" ADD CONSTRAINT "core_reserva_usuario_id_ad825496_fk_users_user_id" FOREIGN KEY ("usuario_id") REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED;
--
-- Alter unique_together for cancha (1 constraint(s))
--
ALTER TABLE "core_cancha" ADD CONSTRAINT "core_cancha_recinto_id_nombre_4f7f9d8e_uniq" UNIQUE ("recinto_id", "nombre");
--
-- Create index core_reserv_cancha__2ac941_idx on field(s) cancha, fecha_hora_inicio of model reserva
--
CREATE INDEX "core_reserv_cancha__2ac941_idx" ON "core_reserva" ("cancha_id", "fecha_hora_inicio");
--
-- Create index core_reserv_cancha__0dd025_idx on field(s) cancha, fecha_hora_fin of model reserva
--
CREATE INDEX "core_reserv_cancha__0dd025_idx" ON "core_reserva" ("cancha_id", "fecha_hora_fin");
--
-- Create index core_reserv_estado_eb5fb1_idx on field(s) estado of model reserva
--
CREATE INDEX "core_reserv_estado_eb5fb1_idx" ON "core_reserva" ("estado");
--
-- Create constraint reserva_fin_mayor_que_inicio on model reserva
--
ALTER TABLE "core_reserva" ADD CONSTRAINT "reserva_fin_mayor_que_inicio" CHECK ("fecha_hora_fin" > ("fecha_hora_inicio"));
--
-- Delete model Horario
--
DROP TABLE "core_horario" CASCADE;
--
-- Delete model Pago
--
DROP TABLE "core_pago" CASCADE;
COMMIT;
