{% extends "base.html" %}
{% block content %}
    <h2>🛒 Carrito de Reservas</h2>
    <ul>    
        {% for reserva in carrito.reservas.all %}
            <li>{{ reserva.cancha.nombre }} - {{ reserva.hora_inicio|date:"d/m/Y H:i" }} a {{ reserva.hora_fin|date:"H:i" }} - ${{ reserva.precio }}</li>
        {% empty %}
            <li>No tienes reservas en el carrito.</li>
        {% endfor %}
    </ul>
    <p><strong>Total: ${{ carrito.total }}</strong></p>

    {% if carrito.reservas.all %}
        <a class="btn btn-primary" href="{% url 'iniciar_pago_carrito' carrito.id %}">Pagar con Transbank</a>
    {% endif %}

{% endblock %}